html {
    box-sizing: border-box;
}

* 
* ::after
* ::before {
box-sizing: inherit;
}

body {
    color: #151618;
    font-size: 20px;
    font-family: "open_sans", sans-serif;
    src: url(/fonts/Open_Sans/);
    font-weight: normal;
}
.menu__list {
   display: flex;
   gap: 0 65px;
   font-size: 18px;
   align-items: center;
}

@media (max-width:768px){
.menu__list {
display: none;
}}

@media (max-width:480px){
   .menu__list {
   display: none;
   }}
@media (max-width:768px) {
.burger {
      position: relative;
      border: none;
      background: transparent;
      width: 40px;
      height: 26px;
    }
    .burger::before,
    .burger::after {
      content: '';
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: #000;
    }
    .burger::before {
      top: 0;
      box-shadow: 0 11px 0 #000;
    }
    .burger::after {
      bottom: 0;
    } 
}

@media (max-width:480px) {
   .burger {
         position: relative;
         border: none;
         background: transparent;
         width: 40px;
         height: 26px;
       }
       .burger::before,
       .burger::after {
         content: '';
         left: 0;
         position: absolute;
         display: block;
         width: 100%;
         height: 4px;
         border-radius: 10px;
         background: #000;
       }
       .burger::before {
         top: 0;
         box-shadow: 0 11px 0 #000;
       }
       .burger::after {
         bottom: 0;
       } 
   }
   
a {
    text-decoration: none;
    color: inherit;
}

 ul {
    list-style: none;
}

 .container {
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:768px){
 .container {
   max-width: 768px;
 }
}

@media (max-width:480px) {
   .container{
      max-width:480px;  
   }
}
@media (max-width:768px){
 .logo {
   display: flex;
   align-items: center;
}}
 .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 30px 0;
 }
 @media (max-width: 480px){
   .header__inner {
      display: flex;
      
      align-items: center;
   }}
 @media (max-width:768px){
   .header__inner{
    display: flex;
    align-items: center;
    
   }
 }
 
 .user-action {
    display: flex;
    gap: 0 20px;
 }
 
 .user-actions__item-search {
    margin-left: 100px;
 }
 @media (max-width:768px) {
   .user-actions__item-search {
   position: relative;
   margin-right: 0px;
}}
 .top {
    background-image: url(../image/background_img.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
 }
 @media (max-width:480px) {
   .top {
      width: max-content;
   }
 }

 .top__inner {
    min-height: 500px;
    font-family: "cormorant", serif;
    src: url(/fonts/Cormorant/);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
 
 .top__title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 768px;
    font-weight: 300;
 }
@media (max-width:480px){
   .top__title {
      font-size: 40px
   }
 }

 .top__text {
    max-width: 550px;
    font-weight: 10;
 }
 
.text {
    text-align: center;
    font-family: "cormorant", serif;
    src: url(/fonts/Cormorant/);
    font-style: italic;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    display: flex;
    width: 700px;
    height: 100px;
    position: relative;
}
@media (max-width:480px) {
   .text{
      font-size: 20px;
      width: 350px;
      line-height: 20px
   }
}
@media (max-width:480px){
   .quote2{
      margin-top: 50px;
   }
}
.quote{
   display: flex;
   align-items: center;

}
 .background_1 {
   background: #F7F2EA;
   display: flex;
   width: 360px;
   height: 60px;
   position: absolute;
   margin-left: 380px;
   margin-top: 50px;
}
@media (max-width:768px){
   .background_1{
      width: 270px;
      height: 60px;
   }
}
@media (max-width:480px){
   .background_1{
      width: 118px;
      height: 22px;
      margin-left: 190px;
      margin-top: 25px;
   }
}
.title_2 {
   text-align: center;
   font-family: "cormorant", serif;
   src: url(/fonts/Cormorant/);
   font-size: 40px;
   font-weight: 300;
}
@media (max-width: 480px){
   .assortment{
      max-width:480px;
      width: max-content;
      }
}
.tea_variety {
   display: flex;
   flex-wrap: wrap;
   margin-top: 100px;
}
@media (max-width: 768px) {
   .tea_variety {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
   }
}
@media (max-width: 480px) {
   .tea_variety{
      flex-direction: row;
      margin-top: 20px;
      
   }
}
.tea{
  font-size: 50;
  font-family: "cormorant",serif;
  text-align: center;
 }
 @media (max-width: 480px){
   .tea{
      width: 200px;
      height: 250px;
   }
 }

.reviews {
   background-image: url(/image/bg_reviews.png);
   background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.clients_revies {
   display: flex;
   font-family: "cormorant", serif;
   justify-content: center;
   font-size: 40px;
   font-weight: 300;
}

.reviews_inner {
   display: flex;
}
 @media(max-width:768px) {
   .reviews_inner{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      row-gap: 50px;
   } }
   @media(max-width:480px) {
      .reviews_inner{
         display: flex;
         flex-wrap: wrap;
         margin-top: 20px;
         row-gap: 50px;
      }
 }
 @media(max-width:768px){
   .comm{
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 200px;
      padding-top: 50px;
      padding-left: 50px;
      margin-top: -60px;
   }
 }
 @media(max-width:480px){
   .comm {
      width: 150px;
      height: 350px;
      padding-top: 0px;
      gap: 0px;
   }
 }
.com {
   font-family: "open sans", serif;
   font-style: italic;
   font-size: 300;
   display: block;
}
@media(max-width:480px){
   .com{
      font-size: 18px;
      padding: 0;
   }
}
.name_com {
   font-family: "open sans";
   font-weight: 600;
   display: block;
}
@media(max-width:768px){
   .name_com{
      margin-top: -10px;
   }
}
@media(max-width:480px){
   .name_com{
      font-size: 18px;
      padding: 0px;
   }}
.blog {
   margin-bottom: 50px;
  
}
.our_blog {
   font-family: "cormorant", serif;
   text-align: center;
   font-size: 40px;
   font-weight: 300;
}
.elements_blog {
   margin-bottom: 50px;
}

@media(max-width:768px){
   .elements_blog{
      display: flex;
      flex-direction: column;
   }
}

@media(max-width:768px){
   .element2{
      padding-top: 20px;
      padding-left: 70px;
   }
}
@media(max-width:768px){
   .element4{
      padding-top: 20px;
      padding-left: 70px;
   }
}

@media(max-width:480px){
   .element2{
      padding-top: 20px;
      padding-left: 0px;
   }
}
@media(max-width:480px){
   .element4{
      padding-top: 20px;
      padding-left: 0px;
   }
}
.element1{
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
}
.element2 {
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;

}
.element3 {
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
   margin-top: 20px;
}
.element4{
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
   margin-top: 20px;
}
.text_blog{
   font-family: "cormorant",serif;
   font-size: 20px;
   max-width: 200px;
}
.read{
   font-family: "open sans", serif;
   font-size: 13px;
}
.elements_blog {
   display: flex;
   flex-wrap: wrap;
   width: 1000px;
}
@media(max-width:480px)
{.elements_blog{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
   }
}
@media(max-width:480px){
   .img_el {
      width: 200px;
      height: 150px;
   }
}

.but {
   display: block;
   margin: 0 auto;
   border-color: black;
   border-width: 1px;
   padding-top: 12px;
   padding-left: 40px;
   padding-bottom: 12px;
   padding-right: 40px;
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20px;
   font-weight: 1;
   background-color: none;
   background: transparent;
}
   .bg_tea {
   position: absolute;
   right: 0px;
}
@media(max-width:480px){
   .bg_tea{
      display: none;
   }
}

.email{
   background-color:  #F7F2EA;
   background-size: cover;
   height: 450px;
   display: flex;
   justify-items: center;
   padding-top: 100px;
}
@media(max-width:768px){
   .email{
      padding-top: 0px;
   }
}
@media(max-width:480px){
   .email{
   display: flex;
   flex-direction: column;
   padding-top: 10px;
   }
}
.email1{
   width: 1000px;
}
@media(max-width:768px){
   .email1{
      width: 760px;
   }
}
@media(max-width:480px){
   .email1{
     margin-top: 20px ;
   }
}

.know_more {
   font-family: "cormorant", serif;
   font-size: 40px;
   font-weight: 100;
}
@media(max-width:768px){
   .know_more{
text-align: center;
margin-top: 10px;
   }
}
@media(max-width:480px){
   .know_more{
      width: 350px;
      text-align: center;
   }
}

.subscription {
   display: flex;
   align-items: center;
   gap: 0 50px;
 }
 @media(max-width:768px){
   .subscription{
      display: flex;
      flex-direction: column;
   }
}
 @media(max-width:480px){
   .subscription{
      width: 380px;
      flex-direction: column;
      align-items: center;
   }
 }
 .subscription1 {
   font-family: "open sans", sans-serif;
   font-weight: 100;
   font-size: 20px;
   width: 600px;
   height: 120px;
   line-height: 30px;
 }
 @media(max-width:768px){
   .subscription1 {
     width: 640px;
   }
}
 @media(max-width:480px){
   .subscription1 {
      width: 380px;
      font-size: 13px;
      line-height: 15px
   }
}
 @media(max-width:768px){
   .checkbox{
      margin-top: 50px;
      width: 580px;
   }
 }
 @media(max-width:480px){
   .checkbox{
      display: flex;
      flex-direction: column;
      width: 440px;
      
   }
 }
 .email_but {
display: flex;
flex-direction: row;
 }
 @media(max-width:480px){
   .email_but{
      width: 320px;
      margin-left: 20px;
      margin-top: -50px;
   }
 }
   
 .checkbox_text{
   font-family: "open sans", sans-serif;
   font-weight: 100;
   font-size: 14px;
   width: 600px;
   height: 120px;
   margin-top: 20px; 
 }
 @media(max-width:480px){
   .checkbox_text{
      font-size: 13px;
      width: 380px;
      padding-left: 20px;
      display: flex;
    }
   }
   @media(max-width:480px){
      .chbx{
         display: flex;
         margin-top: -85px;
      }
   }
 .email_2 {
   font-family: "open sans", sans-serif;
   font-size: 25px;
   font-weight: 100;
   color: #B8B58B;
   height: 50px;
   width: 350px;
   border: none;
   background-color: transparent;
   color: inherit;
   outline: none;
   border-bottom: 1px solid #B8B58B;
   padding-top: 0px;
 }
 ::placeholder{
   color:  #B8B58B;
   font-weight: 100;
 }
 .but_email {
   display: block;
   margin: 0 auto;
   border-color: black;
   border-width: 1px;
   padding-top: 12px;
   padding-left: 40px;
   padding-bottom: 12px;
   padding-right: 40px;
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20px;
   font-weight: 100;
   background-color: white;
   margin-top: 0;
 }

.top_prt {
   font-family: "cormorant", serif;
   text-align: center;
   font-size: 40px;
   font-weight: 200;
   
}
.prioritise{
   display: block;
   margin-top: 150px;
   margin-bottom: 150px;
}
.priority {
   display: flex;
   justify-content: space-between;
}
@media(max-width:768px){
   .priority{
      display: flex;
      flex-wrap: wrap;
      
      row-gap: 50px;
   }
}
@media(max-width:480px){
   .priority{
      align-items: center;
      justify-content: center;
}}
.text_prt {
   font-family: "open sans", sans-serif;
   font-size: 30px;
   }
.text2_prt {
   font-family: "open sans", sans-serif;
   font-size: 20px;
   font-weight: 600;
}
.prt1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt2 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt3 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt4 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.img_prt {
   padding-top: 20px;
}
.footer {
   background: #F7F2EA;
   
}
.f_elements {
   display: flex;
   align-items: center;
}
@media(max-width:480px) {
   .f_elements{
      flex-wrap: wrap;
   }

}
 
@media(max-width:768px) {
   .company{
      width: 200px;
   }
}

.h_products {
   font-family: "cormorant",serif;
   font-size: 26px;
   font-weight: 500;
}
.list_prod {
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20spx;
   width: 150px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 0;
}
@media(max-width:480px){
   .list_prod{
      font-size: 16px;
   }
}
.h_comp {
   font-family: "cormorant", serif;
   font-size: 26px;
   font-weight: 500;
}
.prod_comp {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}

.list_comp {
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20spx;
   width: 300px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 0;
}
@media(max-width:480px){
   .list_comp{
      font-size: 16px;
   }
}
.state_cont{
   display: flex;
   flex-direction: row;
}
@media(max-width:768px){
   .state_cont{
      display: flex;
      flex-direction: column;
      
   }
}
.statement {
   font-family: "open sans", sans-serif;
   font-style: italic;
   font-size: 20px;
   font-weight: 100;
}
@media(max-width:480px){
.statement{
   font-size: 16px;
}
}
.contacts{
   width: 300px;
}
.stay {
   font-family: "cormorant";
   font-size: 26px;
   font-weight: 500;
}
@media(max-width:480px){
   .stay{
      text-align: center;
   }
}
.via {
   width: 350px;
}
.via2 {
   font-family: "open sans", sans-serif;
   font-size: 17px;
}
@media(max-width:480px){
   .via2 {
      font-size: 13px;
      text-align: center;
   }
}
.logo_cont {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.cont{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100px;
}
.social_network {
   width:150px ;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-left: 150px;
}
.pay {
   width: 450px;
   display: flex;
   flex-direction: row;
justify-content: space-between;
}
.carts {
   width: 150px;
   display: flex;
   justify-content: space-between;
}